<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<body>
<div class="card shadow border-0 rounded-4 mb-5" th:fragment="card(experience)"> <!-- experience를 파라미터로 받음 -->
    <div class="card-body p-5">
        <div class="row align-items-center gx-5">
            <div class="col text-center text-lg-start mb-4 mb-lg-0">
                <div class="bg-light p-4 rounded-4">
                    <div class="text-primary fw-bolder mb-2" th:text="|${experience.startYearMonth} - ${experience.endYearMonth}|">시작연월 - 종료연월</div>
                    <div class="small text-muted" th:text="${experience.description}">경험 설명</div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="lead fw-bolder" th:text="${experience.title}">경험 제목</div>
                <p></p> <!-- 여백 -->
                <div class="small" th:each="detail : ${experience.details}" th:text="|★ ${detail}|">경험 디테일</div>
            </div>
        </div>
    </div>
</div>
</body>
</html>